<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stage 0 Breast Cancer Precautions and Recovery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stage0.css') }}">
</head>
<body>

<div class="content">
    <div class="left-side">
        <img src="{{ url_for('static', filename='img/imp4.jpg') }}" alt="Left Image">
        <button class="button"><a href="{{ url_for('symptoms' ) }}">BACK TO SYMPTOMS</a></button>
    </div>
    <div class="right-side">
          <b><h1 style="color:rgb(225, 36, 153);" >Stage 0 Breast Cancer: Precautions and Recovery</h1></b>
            
          <h2 style="color:blue;">Precautions for Stage 0 Breast Cancer:</h2>
            <ul style="font-size:20px;">
                <li>Regular breast self-examinations to detect any changes.</li>
                <li>Annual mammograms as recommended by your healthcare provider.</li>
                <li>Consultation with a breast specialist for personalized risk assessment.</li>
                <li>Maintain a healthy weight through balanced diet and regular exercise.</li>
                <li>Limit alcohol consumption as it may increase breast cancer risk.</li>
                <li>Quit smoking, as it can contribute to various health risks including cancer.</li>
            </ul>
            
            <h2 style="color:blue;"><b>Recovery Tips:</b></h2>
            <ul style="font-size:20px;">
                <li>Follow your healthcare provider's recommended treatment plan.</li>
                <li>Attend regular follow-up appointments to monitor any changes.</li>
                <li>Join a support group or seek counseling for emotional support.</li>
                <li>Stay informed about advancements in breast cancer research.</li>
                <li>Engage in activities that promote mental and physical well-being.</li>
            </ul>
            
    </div>
    
</body>
</html>
